# Preprocesado de Datos

Para este proyecto usar Polars, es una libreria similar a Pandas, pero optimizada para grandes volumenes de datos

Primero cargare cada uno de mis datasets y comprobare como unirlos.

In [1]:
import polars as pl
from pathlib import Path

In [2]:
BASE_DIR = Path.cwd().parent
DATA_DIR = (BASE_DIR / 'data').resolve()
RAW_DIR = (DATA_DIR / 'raw').resolve()
PROCESSED_DIR = (DATA_DIR / 'processed').resolve()

Primero quiero ver una pequena representacion del dataset, para tener contexto de los datos

In [3]:
df_members = pl.scan_csv(RAW_DIR/'members_v3.csv')
df_train = pl.scan_csv(RAW_DIR/'train_v2.csv')
df_transactions = pl.scan_csv(RAW_DIR/'transactions_v2.csv')
#df_user_logs = pl.scan_csv(RAW_DIR/'user_logs.csv')

print(df_members.head().collect())
print(df_train.head().collect())
print(df_transactions.head().collect())

shape: (5, 6)
┌─────────────────────────────────┬──────┬─────┬────────┬────────────────┬────────────────────────┐
│ msno                            ┆ city ┆ bd  ┆ gender ┆ registered_via ┆ registration_init_time │
│ ---                             ┆ ---  ┆ --- ┆ ---    ┆ ---            ┆ ---                    │
│ str                             ┆ i64  ┆ i64 ┆ str    ┆ i64            ┆ i64                    │
╞═════════════════════════════════╪══════╪═════╪════════╪════════════════╪════════════════════════╡
│ Rb9UwLQTrxzBVwCB6+bCcSQWZ9JiNL… ┆ 1    ┆ 0   ┆ null   ┆ 11             ┆ 20110911               │
│ +tJonkh+O1CA796Fm5X60UMOtB6POH… ┆ 1    ┆ 0   ┆ null   ┆ 7              ┆ 20110914               │
│ cV358ssn7a0f7jZOwGNWS07wCKVqxy… ┆ 1    ┆ 0   ┆ null   ┆ 11             ┆ 20110915               │
│ 9bzDeJP6sQodK73K5CBlJ6fgIQzPeL… ┆ 1    ┆ 0   ┆ null   ┆ 11             ┆ 20110915               │
│ WFLY3s7z4EZsieHCt63XrsdtfTEmJ+… ┆ 6    ┆ 32  ┆ female ┆ 9              ┆ 20110915               │
└─────────────────────────────────┴──────┴─────┴────────┴────────────────┴────────────────────────┘
shape: (5, 2)
┌─────────────────────────────────┬──────────┐
│ msno                            ┆ is_churn │
│ ---                             ┆ ---      │
│ str                             ┆ i64      │
╞═════════════════════════════════╪══════════╡
│ ugx0CjOMzazClkFzU2xasmDZaoIqOU… ┆ 1        │
│ f/NmvEzHfhINFEYZTR05prUdr+E+3+… ┆ 1        │
│ zLo9f73nGGT1p21ltZC3ChiRnAVvgi… ┆ 1        │
│ 8iF/+8HY8lJKFrTc7iR9ZYGCG2Ecro… ┆ 1        │
│ K6fja4+jmoZ5xG6BypqX80Uw/XKpMg… ┆ 1        │
└─────────────────────────────────┴──────────┘
shape: (5, 9)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ msno      ┆ payment_m ┆ payment_p ┆ plan_list ┆ … ┆ is_auto_r ┆ transacti ┆ membershi ┆ is_cance │
│ ---       ┆ ethod_id  ┆ lan_days  ┆ _price    ┆   ┆ enew      ┆ on_date   ┆ p_expire_ ┆ l        │
│ str       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ date      ┆ ---      │
│           ┆ i64       ┆ i64       ┆ i64       ┆   ┆ i64       ┆ i64       ┆ ---       ┆ i64      │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ i64       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ ++6eU4LsQ ┆ 32        ┆ 90        ┆ 298       ┆ … ┆ 0         ┆ 20170131  ┆ 20170504  ┆ 0        │
│ 3UQ20ILS7 ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ d99XK8Wbi ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Vgb…      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ ++lvGPJOi ┆ 41        ┆ 30        ┆ 149       ┆ … ┆ 1         ┆ 20150809  ┆ 20190412  ┆ 0        │
│ nuin/8esg ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ hpnqdljm6 ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ NXS…      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ +/GXNtXWQ ┆ 36        ┆ 30        ┆ 180       ┆ … ┆ 1         ┆ 20170303  ┆ 20170422  ┆ 0        │
│ VfKrEDqYA ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ zcSw2xSPY ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ MKW…      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ +/w1UrZwy ┆ 36        ┆ 30        ┆ 180       ┆ … ┆ 1         ┆ 20170329  ┆ 20170331  ┆ 1        │
│ ka4C9oNH3 ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ +Q8fUf3fD ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 8R3…      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ +00PGzKTY ┆ 41        ┆ 30        ┆ 99        ┆ … ┆ 1         ┆ 20170323  ┆ 20170423  ┆ 0        │
│ qtnb65mPK ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ PyeHXcZEw ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ qiE…      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

Con esta observacion parcial de mis datasets, puedo ver que tengo una columna llamada *'msno'* que esta formada por strings y es la columna comun en los tres datasets y por donde tendre que hacer el join.

In [4]:
def lazy_info(df):
    print(f'Shape:\n', (df.select(pl.len()).collect().item(), df.collect_schema().len()))
    print('=' * 20)
    print(f'\nNombre de columna y su tipo de dato: \n', df.collect_schema())
    print('=' * 20)
    print(f'\nNumero de valores nulos:\n', df.null_count().collect())

Con esta funcion, el siguiente paso sera extraer datos de las columnas y el tipo de datos, los valores nulos y las dimensiones totales de mis datasets

In [5]:
lista_df = [df_members, df_train, df_transactions]

for df in lista_df:
    lazy_info(df)

Shape:
 (6769473, 6)
====================

Nombre de columna y su tipo de dato:
 Schema({'msno': String, 'city': Int64, 'bd': Int64, 'gender': String, 'registered_via': Int64, 'registration_init_time': Int64})
====================

Numero de valores nulos:
 shape: (1, 6)
┌──────┬──────┬─────┬─────────┬────────────────┬────────────────────────┐
│ msno ┆ city ┆ bd  ┆ gender  ┆ registered_via ┆ registration_init_time │
│ ---  ┆ ---  ┆ --- ┆ ---     ┆ ---            ┆ ---                    │
│ u32  ┆ u32  ┆ u32 ┆ u32     ┆ u32            ┆ u32                    │
╞══════╪══════╪═════╪═════════╪════════════════╪════════════════════════╡
│ 0    ┆ 0    ┆ 0   ┆ 4429505 ┆ 0              ┆ 0                      │
└──────┴──────┴─────┴─────────┴────────────────┴────────────────────────┘
Shape:
 (970960, 2)
====================

Nombre de columna y su tipo de dato:
 Schema({'msno': String, 'is_churn': Int64})
====================

Numero de valores nulos:
 shape: (1, 2)
┌──────┬──────────┐
│ msno ┆ is_churn │
│ ---  ┆ ---      │
│ u32  ┆ u32      │
╞══════╪══════════╡
│ 0    ┆ 0        │
└──────┴──────────┘
Shape:
 (1431009, 9)
====================

Nombre de columna y su tipo de dato:
 Schema({'msno': String, 'payment_method_id': Int64, 'payment_plan_days': Int64, 'plan_list_price': Int64, 'actual_amount_paid': Int64, 'is_auto_renew': Int64, 'transaction_date': Int64, 'membership_expire_date': Int64, 'is_cancel': Int64})
====================

Numero de valores nulos:
 shape: (1, 9)
┌──────┬────────────┬────────────┬────────────┬───┬────────────┬───────────┬───────────┬───────────┐
│ msno ┆ payment_me ┆ payment_pl ┆ plan_list_ ┆ … ┆ is_auto_re ┆ transacti ┆ membershi ┆ is_cancel │
│ ---  ┆ thod_id    ┆ an_days    ┆ price      ┆   ┆ new        ┆ on_date   ┆ p_expire_ ┆ ---       │
│ u32  ┆ ---        ┆ ---        ┆ ---        ┆   ┆ ---        ┆ ---       ┆ date      ┆ u32       │
│      ┆ u32        ┆ u32        ┆ u32        ┆   ┆ u32        ┆ u32       ┆ ---       ┆           │
│      ┆            ┆            ┆            ┆   ┆            ┆           ┆ u32       ┆           │
╞══════╪════════════╪════════════╪════════════╪═══╪════════════╪═══════════╪═══════════╪═══════════╡
│ 0    ┆ 0          ┆ 0          ┆ 0          ┆ … ┆ 0          ┆ 0         ┆ 0         ┆ 0         │
└──────┴────────────┴────────────┴────────────┴───┴────────────┴───────────┴───────────┴───────────┘

Tras analizar, puedo ver que cada uno tiene dimensiones distintas, por lo que tendre que comprobar si la key de union se repite, y en caso de que lo haga, valorar como escojo los datos resultantes.

Ademas, todas mis columnas son numericas excepto 'gender', que es ademas la unica columna con valores NA.

In [6]:
# Contar registros totales vs registros únicos
total_records = df_members.select(pl.len()).collect().item()
unique_records = df_members.select(pl.col("msno").n_unique()).collect().item()

print(f"Total: {total_records:,}")
print(f"Únicos: {unique_records:,}")
print(f"¿Hay duplicados? {'SÍ' if total_records > unique_records else 'NO'}")

Total: 6,769,473
Únicos: 6,769,473
¿Hay duplicados? NO

En mi dataset members, no hay valores repetidos, esto es clave, ya que no puedo tener un usuario varias veces, el siguiente paso sera unir los datasets por la clave *'msno'*

Cambio el tipo de variable de las columans que contienen fechas para poder trabajar con ellas

In [7]:
df_members = df_members.with_columns([
    pl.col("registration_init_time")
      .cast(pl.Utf8)
      .str.strptime(pl.Date, "%Y%m%d", strict=True)
      .alias("registration_date")
])

In [8]:
df_transactions = df_transactions.with_columns([
    pl.col("transaction_date")
      .cast(pl.Utf8)
      .str.strptime(pl.Date, "%Y%m%d", strict=True),
    pl.col("membership_expire_date")
      .cast(pl.Utf8)
      .str.strptime(pl.Date, "%Y%m%d", strict=True)
])

Creo mi cutoff, a partir del cual descartare transacciones. Esto es para evitar Data Leakage que pueda tener con clientes que tienen no tienen fechas de transaccion, es decir, el modelo podria aprender que no tener transacciones implica que el cliente esta desuscrito, por eso escojo como fecha de corte la ultima transaccion y un plazo de 5 dias como margen de proteccion

In [9]:
last_transaction = df_transactions.group_by('msno').agg(pl.col("transaction_date").max().alias("last_transaction"))

df_cutoff = df_train.join(last_transaction, on='msno', how='inner')

df_cutoff = df_cutoff.sort('last_transaction')

df_p95 = df_cutoff.group_by('is_churn').agg(
    pl.col('last_transaction').quantile(0.95)
    .alias('p95_last_transaction')
    )

df_p95.head().collect()

shape: (2, 2)
┌──────────┬──────────────────────┐
│ is_churn ┆ p95_last_transaction │
│ ---      ┆ ---                  │
│ i64      ┆ date                 │
╞══════════╪══════════════════════╡
│ 0        ┆ 2017-03-31           │
│ 1        ┆ 2017-03-31           │
└──────────┴──────────────────────┘

En este caso, las fechas son iguales, para simular un entorno real, le voy a restar 5 dias, de esta manera proporciono un margen de proteccion fentre a data leakage

In [ ]:
cutoff_date = df_p95.select(
    pl.col('p95_last_transaction').first().dt.offset_by('-5d')
).collect().item()

cutoff_date

datetime.date(2017, 3, 26)

Ahora aplico este cutoff y junto mis datasets